<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vincent.hong.dao.CustomerMapper">
    <resultMap id="baseMap" type="com.vincent.hong.model.Customers">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="cus_code" jdbcType="VARCHAR" property="cus_code"/>
        <result column="cus_name" jdbcType="VARCHAR" property="cus_name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="mphone" jdbcType="VARCHAR" property="mphone"/>
        <result column="addr" jdbcType="VARCHAR" property="addr"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="create_dt" jdbcType="TIMESTAMP" property="create_dt"/>
    </resultMap>

    <select id="selectOneByCusCode" resultMap="baseMap" parameterType="java.lang.Integer">
      SELECT  *  FROM  customers
      WHERE  id= #{id,jdbcType=INTEGER}
    </select>

</mapper>
